.work, .skills, .education, .volunteer{
  padding: 0px 0px 0px 20px;
}

.work{
  padding-left: 20px;
}

.main_skills{
  padding-right: 50px;
  display: inline-table;
}

.title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 0px 0px 0px;
  border-bottom-style: ridge;
}

.job_title, .top_skills, .planning,
.cloud, .school_title, .event_title{
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
}

.company, .degree{
  font-size: 12px;
}

.start_end_date {
  font-size: 10px;
  color: #a3a8af;
}

.description {
  font-size: 12px;
  font-weight: normal;
}

.description div:before {
    content: "• "
}

.soft_skills .btn-primary{
  margin: 2px;
  font-size: 10px;
  background-color: #2f66bf;
}

.soft_skills{
  margin-top: 10px;
}
