.header{
  width: inherit;
  border-bottom-style: solid;
  padding-top: 20px;
  font-family: "Lucida Grande";
}

.block{
  background-color: #4e535b;
  height: 50px;
  margin-top: 10px;
}

.name-surname{
  font-size: 25px;
  color: #4e535b;
  letter-spacing: 2px;
  display: flex;
}

.job-title{
  padding-bottom: 5px;
  font-size: 15px;
  font-family: "Lucida Grande";
  letter-spacing: 1px;
  color: #043b93;
}

.brief-summary{
  padding-top: 10px;
  font-size: 12px;
}

.personal-info{
  text-align: right;
  padding-right:50px;
  display: inline-table;
}

.personal-info ul{
  list-style-type: none;
  padding-top: 20px;
}

.personal-info ul li{
  padding-bottom: 10px;
  font-size: 10px;
  color: #4e535b;
}

.personal-info ul li i {
  padding-left: 10px;
}
